# STEALTHNET 3.0 — Backend (для локальной разработки)
# В Docker все переменные приходят из корневого .env через docker-compose.yml

NODE_ENV=development
PORT=5001

# PostgreSQL
DATABASE_URL=postgresql://polarislnk:Polarislnk1@152.53.82.56:5432/stealthnet

# JWT (минимум 32 символа)
JWT_SECRET=R7kx6cVoVjJVTzT4W6Ig85ivff6whlzDKWosZfaGa1MTE0osF2UsTy3ScvJr0Z7B
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Первый админ
INIT_ADMIN_EMAIL=admin@coolgo.network
INIT_ADMIN_PASSWORD=Coolgo!2026

# Remnawave API
REMNA_API_URL=https://panel.coolgo.network
REMNA_ADMIN_TOKEN=

# CORS
CORS_ORIGIN=http://localhost:5173
